In [1]:
import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv('cities_data_sample.csv')

In [5]:
data

   ID cities  Value2  Value3 value 4
0   1  india      50      30     yes
1   2  china      20      70      no
2   3    usa      50      35     yes
3   4  india      30      40      no
4   5  china      30      25     yes
5   6    usa      10      65      no
6   7  india      10      55     yes
7   8  china      40      60      no
8   9    usa      20      50     yes
9  10  india      50      45      no

In [7]:
x = data.iloc[:,:-1].values
y= data.iloc[:,-1].values

In [9]:
x

array([[1, 'india', 50, 30],
       [2, 'china', 20, 70],
       [3, 'usa', 50, 35],
       [4, 'india', 30, 40],
       [5, 'china', 30, 25],
       [6, 'usa', 10, 65],
       [7, 'india', 10, 55],
       [8, 'china', 40, 60],
       [9, 'usa', 20, 50],
       [10, 'india', 50, 45]], dtype=object)

In [11]:
y

array(['yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'no'],
      dtype=object)

In [13]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [15]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')